@model Coding_Challenge.Models.AssignmentViewModels.cls_AddAssignmentViewModel
@{
    ViewBag.Title = "Add_Assignment";

    
}

<h2></h2>

@using (Html.BeginForm("Add_Assignment", "Assignment_", FormMethod.Post))
{
    <div class="row" style="margin: 50px;">
        <h2>Add a New Assignment</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @Html.LabelFor(d => d.iUserId)<br />
                @Html.DropDownListFor(d => d.iUserId, (SelectList)ViewBag.listUser, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.iUserId, null, new { @class = "red" })
            </div>
            <div class="row">
                @Html.LabelFor(d => d.iProjectId)<br />
                @Html.DropDownListFor(d => d.iProjectId, (SelectList)ViewBag.listProject, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.iProjectId, null, new { @class = "red" })
            </div>
            <div class="row">
                @Html.LabelFor(d => d.bIsActive)<br />
                @Html.DropDownListFor(d => d.bIsActive, new List<SelectListItem>
                {
                   new SelectListItem{ Text="False", Value = "0"},
                   new SelectListItem{ Text="True", Value = "1" },
                }, new { @class = "form-control" })  <br />
                @Html.ValidationMessageFor(d => d.bIsActive, null, new { @class = "red" })
            </div>
            <div class="row">
                @Html.LabelFor(d => d.dtAssignedDate)<br />
                @Html.EditorFor(d => d.dtAssignedDate, "", new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(d => d.dtAssignedDate, null, new { @class = "red" })
            </div>
        </div>

        <div class="col-md-12" style="text-align:right;padding:5px">
            <input value="Save Assignment" type="submit" class="btn btn-primary" />
        </div>
    </div>
}

